 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Ingeniería Civil Informática</h4>
    <h5 class="meta">Universidad de Santiago de Chile</h5>
    <div class="time">2010 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Licenciatura en Ciencias de la Ingeniería</h4>
    <h5 class="meta">Universidad de Santiago de Chile</h5>
    <div class="time">2010 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Internado Intensivo de Inglés</h4>
    <h5 class="meta">Harrow House International College, Swanage, UK</h5>
    <div class="time">2013</div>
</div><!--//item-->
</div><!--//education-container-->
