<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia Laboral</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desarrollador</h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad de Santiago</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Mejoré la fiscalización de los conductores del Transantiago, implementando un sistema de evaluación de rendimiento de éstos. Ahora cuentan con un sistema que entrega información estadística y operacional del negocio.</p>
<p>Construí un sistema para crear diapositivas interactivas a partir de un archivo XML, el cual facilita la creación de animaciones, y uso de voz.</p>
<p>Mejoré en un 25 % la disponibilidad de odontólogos para atención de pacientes de un CESFAM en Pemuco, desarrollando un sistema para el cálculo automático del Resumen Estadístico Mensual (REM).</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Ayudante</h3>
                            <div class="time">2013 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad de Santiago</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Apoyé al profesor, haciendo clases, reforzamientos de la materia vista en clases a 30 alumnos por sección. Además, creé y planifiqué laboratorios para aportar al conocimiento adquirido en cátedra.</p>
                        <p> Asignaturas: Sistemas Operativos (2014 – 2016), Fundamentos de Programación (2014), Estructura de datos (2013).</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
