<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Proyectos Universitarios</h2>
                <div class="intro">
                    <!--<p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p> -->
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/luisloyola/Subus">Detección de comportamiento</a></span> - <span class="project-tagline">Sistema que entrega información cuantitativa y estadística sobre el rendimiento de los conductores de Subus.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/luisloyola/PODA" target="_blank">Diapositivas interactivas desde XML</a></span> - 
                    <span class="project-tagline">Sistema para crear diapositivas interactivas a partir de un archivo XML, facilitando la creación de animaciones, y uso de voz. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/luisloyola/File-Splitter" target="_blank">File-Splitter</a></span> - <span class="project-tagline">Divisor y recuperador de archivos usando pipes. Basado en RAID 5. Desarrollado para el curso de Sistemas
Operativos.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/luisloyola/GoCheck-MobileApp" target="_blank">Revisador de pruebas </a></span> - <span class="project-tagline">GoCheck es una aplicación que automatiza y facilita el trabajo de los profesores para la revisión de pruebas.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/luisloyola/HexxagonClone" target="_blank">Hexxagon Clone</a></span> - <span class="project-tagline">Clon del clásico juego de DOS llamado Hexxagon en MIPS ensamblador. </span>
                </div><!--//item-->
            </section><!--//section-->
