<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    
                    <div class="item">
                        <h3 class="level-title">Java</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
		    	<div class="item">
                        <h3 class="level-title">C</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
		    	<div class="item">
                        <h3 class="level-title">Python &amp; Django</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="33%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    

                    <div class="item">
                        <h3 class="level-title">PHP</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                </div>
				<h4>Librerías/Plataformas:</h4>
				<ul>
 		 			<li>Android</li>
					<li>Apache Hive</li>
  					<li>Hadoop</li>
		  		</ul>

				<h4>Bases de datos:</h4>
				<ul>
					<li>MySQL</li>
				</ul>		  
            </section><!--//skills-section-->
